
 <a routerLink="/login" class="logo-mobile">
  ← Retour au Page login
</a>
       
<div class="container">
<div class="circle-wrapper">
  <img src="assets/imgs/login.png" alt="login" class="circle-img" />
</div>
      <div class="content">
     
          <div class="content-one" >
            <a routerLink="/login" class="no-underline">
              <h2><span style="color: rgb(33, 150, 243)">Canvas</span></h2>
            </a>
            
              <h4 class="css-w29fpn"> Réinitialiser votre mot de passe </h4>
          
             <img src="assets/imgs/login.png" alt="" class="flex-grow-1">
          </div>


   <div class="col md-6 mt-3 mt-md-0" id="form">
            <p class="titre">
              Vous n'avez pas de compte ? 
              <a routerLink='/register' class="css-1r5vhv8">Commencer maintenant</a>
            </p>
            <h3 class="intro2" >Pour réinitialiser le mot de passe de votre compte <span style="color:  rgb(33, 150, 243)">Canvas</span></h3>
            <h6> Entrez votre adresse email ci-dessous.</h6>
  
     
        
        <form [formGroup]="form" (ngSubmit)="SendMail()">
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>

              <div *ngIf="successMessage" class="success-message" >
                {{ successMessage }}
              </div>
          <div class="inputs">
            <input type="email" formControlName="emailUser" placeholder="Email">
          </div>
          <button type="submit" class="signup-btn">Envoyer le lien de réinitialisation</button>
        </form>
        
          </div>
      </div>
    </div>
    
  