.css-8ndowl {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}


.css-71frgt {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(75deg, rgba(22, 28, 36, 0.48) 0%, rgb(22, 28, 36) 100%);
    z-index: -1;
}


.css-1cjk8un {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(145, 158, 171, 0.2) 0px 11px 15px -7px, rgba(145, 158, 171, 0.14) 0px 24px 38px 3px, rgba(145, 158, 171, 0.12) 0px 9px 46px 8px;
    padding: 32px;
}

.css-8dbmzm {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(99, 115, 129);
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    text-decoration: none;
    flex: 0 0 auto;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-9uy14h {
    width: 24px;
    height: 24px;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-z0d531 {
    margin: 0px 0px 24px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
    font-family: "Public Sans", sans-serif;
}


.css-tuxzvu {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -8px;
    width: calc(100% + 8px);
    margin-left: -8px;
}


.css-6lwiu8 {
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}

.css-1uawl6a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 700;
    line-height: 1.71429;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: "Public Sans", sans-serif;
    min-width: 64px;
    color: rgb(33, 150, 243);
    width: 200px;
    height: 200px;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    padding: 5px 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(33, 150, 243, 0.5);
    border-image: initial;
    border-radius: 0px;
}


.css-vk4qvz {
    width: 70px;
    height: 70px;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-tuxzvu > .MuiGrid-item {
    padding-left: 8px;
}

.css-tuxzvu > .MuiGrid-item {
    padding-top: 8px;
}

@media (min-width: 900px) {
    .css-1s50f5r {
        flex-basis: 50%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 50%;
    }
}


.css-1bnxa12 {
    display: flex;
    justify-content: space-around;
}

img {
    display: block;
    max-width: 100%;
}

.css-cpmwse {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 700;
    line-height: 1.71429;
    font-size: 0.9375rem;
    text-transform: capitalize;
    font-family: "Public Sans", sans-serif;
    min-width: 64px;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 46, 29);
    box-shadow: rgba(145, 158, 171, 0.2) 0px 3px 1px -2px, rgba(145, 158, 171, 0.14) 0px 2px 2px 0px, rgba(145, 158, 171, 0.12) 0px 1px 5px 0px;
    height: 48px;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 16px 0px 0px;
    text-decoration: none;
    padding: 8px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0px;
}

.css-1m01c8l {
    height: 24px;
    width: 24px;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}


.css-1xfy85q {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 700;
    line-height: 1.71429;
    font-size: 0.9375rem;
    text-transform: capitalize;
    font-family: "Public Sans", sans-serif;
    min-width: 64px;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
    box-shadow: rgba(33, 150, 243, 0.24) 0px 8px 16px 0px;
    height: 48px;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 16px 0px 0px;
    text-decoration: none;
    padding: 8px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0px;
}


.css-6lwiu8 {
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}


.css-r6wqwz {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 700;
    line-height: 1.71429;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: "Public Sans", sans-serif;
    min-width: 64px;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 46, 29);
    box-shadow: rgba(145, 158, 171, 0.2) 0px 3px 1px -2px, rgba(145, 158, 171, 0.14) 0px 2px 2px 0px, rgba(145, 158, 171, 0.12) 0px 1px 5px 0px;
    width: 200px;
    height: 200px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    text-decoration: none;
    padding: 6px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0px;
}


audio {
    width: 300px;
    height: 54px;
}