  
  /*css header*/
  .navbar {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgb(255, 255, 255);
    z-index: 1201;
    backdrop-filter: blur(6px);
    background-color: rgba(249, 250, 251, 0.72);
height: 65px;
  
}

.css-1t1eosl {
  box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  background-image: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  top: 0px;
  left: auto;
  right: 0px;
  height: 12%;
  z-index: 1201;
  backdrop-filter: blur(6px);
  background-color: rgba(249, 250, 251, 0.72);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .css-1ir47a1 {
      min-height: 64px;
      padding: 16px 7px;
  }
}
.logo {
    color: rgb(75, 75, 216);
    position: relative;
    left: 40px;
    font-weight: bold;
  }
.css-1ir47a1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.css-i9gxme {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 600px;
}

.mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgb(99, 115, 129);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 46px;
    height: 46px;
}


.css-2x4nai{
    color: black;
}
.no-underline {
    text-decoration: none;
    color: rgb(33, 150, 243);
  }

  .circular-image {
    border-radius: 50%;
    overflow: hidden;
    width: 42px; 
    height: 42px; 
  }
  
  .circular-image img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
  }
  
  .dropdown-container {
    position: relative;
    display: inline-block;
    margin: 0 12px; 
}

.dropdown {
  position: absolute;
  top: 100%; 
  left: 0;
  opacity: 0;
  transform: translateY(-10px); 
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0); 
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-wrap: break-word;
    max-height: 250px; 
    overflow-y: auto; 
    overflow-x: hidden; 

  }
  
  
  
  .dropdown-content .dropdown-item {
    padding: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .dropdown-content mat-icon {
    margin-right: 8px;
  }
  
  .dropdown-content .dropdown-item:hover {
    background-color: #ddd;
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }
  
  .mat{
    color: black;
    position: relative;
    right: 7px;
  
  }

.maticons{
    position: relative;
    color: rgb(48, 133, 202);
    left: 17px;
}
  .invite{
    color: black;
    font-size: 13px;
  }

  .dropdown-content .dropdown-item .invite {
    background-color: #ddd;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -7px; 
  }
  

  .badge {
    position: absolute;
    top: -7px;
    right: 0;
    background-color: #ec1010;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.badge:hover {
    background-color: #d40e0e;
    transform: scale(1.1);
}

  
  .no-invite{
    color: black;

  }


  .maticon1{
    color: rgb(141, 137, 137)
}


.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.centered-message p {
  font-size: 25px;
  color: rgb(189, 39, 39);
}

.css-w5qhhs {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(99, 115, 129);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px;
}


.css-1ciwozm {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-family: "Public Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.css-1hy9t21 {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
img {
  display: block;
  max-width: 100%;
}

.css-w0pj6f {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}


.css-tfolz5 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(99, 115, 129);
  width: 46px;
  height: 46px;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  flex: 0 0 auto;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-tfolz51 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(99, 115, 129);
    width: 46px;
    height: 46px;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    text-decoration: none;
    flex: 0 0 auto;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.css-1rzb3uu {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
}

.css-1wl1iil {
  width: 28px;
  height: 28px;
}



.css-1kr17ld.MuiBadge-invisible {
  transform: scale(0) translate(50%, -50%);
}
.css-1x4nai {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}


.css-10ygcul {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(99, 115, 129);
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  flex: 0 0 auto;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-1oknx5t {
  top: 47px; 
  margin-left: -262px !important;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.2) 0px 5px 5px -3px,
              rgba(145, 158, 171, 0.14) 0px 8px 10px 1px,
              rgba(145, 158, 171, 0.12) 0px 3px 14px 2px;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  width: 360px; 
  margin-top: 12px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  outline: 0px;
  padding: 0px;
  overflow: inherit;
  box-sizing: border-box; 
  position: absolute;
}


.css-1oknx5t h6,
.css-1oknx5t p {
  margin: 0;
  padding: 0; 
  width: 100%; 
  box-sizing: border-box;
}

.MuiListItem-root.css-1g5h4hs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px; 
  margin: 8px 0; 
  border: 1px solid #d1d9e6;
  border-radius: 8px;
  background-color: #f8fafc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.MuiListItem-root.css-1g5h4hs:hover {
  background-color: #e3effd;
  border-color: #b8c7d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MuiListItemText-root.css-1bbslg7 {
  font-size: 16px;
  color: #3b3f45;
}

.MuiListItemText-root.css-1bbslg7 strong {
  color: #1976d2;
}


.MuiTypography-body2.css-11r9ii4 {
  font-size: 14px;
  color: #333333;
}


.MuiButton-root {
  margin-left: 8px;
  background-color: #007bff; 
  color: white; 
  border-radius: 4px;
}

.MuiButton-root:hover {
  background-color: #0056b3; 
}

.MuiButton-root:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}


@media (min-width: 600px) {
  .css-98b6ta {
      top: -7px;
      z-index: 1;
      width: 12px;
      right: 20px;
      height: 12px;
      content: "";
      position: absolute;
      border-radius: 0px 0px 4px;
      transform: rotate(-135deg);
      background: rgb(255, 255, 255);
      border-right: 1px solid rgba(145, 158, 171, 0.12);
      border-bottom: 1px solid rgba(145, 158, 171, 0.12);
  }
}
.css-3sojac {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px 20px;
}
.css-zg4d8h {
  margin: 0px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-color: rgba(145, 158, 171, 0.24);
  border-style: dashed;
}

.css-i9gxme {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.css-jjtu05 {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
.css-k9tjo5 {
  margin: 0px;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
}

.css-11r9ii4 {
  position: relative;
  margin: 0; 
  padding: 0; 
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  width: 200px;
  color: rgb(99, 115, 129);
}

.scroll-container {
  max-height: 320px; 
  overflow-y: hidden; 
  padding: 0; 
  margin: 0;
  transition: overflow-y 0.3s ease;
}

.scroll-container:hover {
  overflow-y: auto; 
}

.scroll-container::-webkit-scrollbar {
  width: 8px; 
  background-color: transparent; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px; 
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8); 
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; 
}

.scroll-container:hover {
  scrollbar-color: rgba(0, 0, 0, 0.8) transparent;
}



.css-3sojac {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px 20px;
}

.css-i9gxme {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.css-k9tjo5 {
  margin: 0px;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
}

.dropdown-item {
  padding: 15px;
  border-bottom: 1px solid #dfe4ea;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  max-width: 450px; 
  white-space: normal;
  word-wrap: break-word; 
  overflow: hidden;
}

.dropdown-item:hover {
  background-color: #e9eff6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item.unread {
  background-color: #d0dde9;
  border-bottom: 2px solid #007bff; 
  color: white;
}

.dropdown-item .indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff4757;
  border-radius: 0 0 4px 4px;
}

.indicator.unread {
  background-color: #ff6348;
  border-bottom: 1px solid #c57c1c;

}


.css-1gaiiou {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.2) 0px 5px 5px -3px, rgba(145, 158, 171, 0.14) 0px 8px 10px 1px, rgba(145, 158, 171, 0.12) 0px 3px 14px 2px;
  background-image: none;
  position: absolute;
  min-width: 16px;
  min-height: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  width: 200px;
  margin-top: 12px;
  margin-left: 6px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  outline: 0px;
  padding: 0px;
  overflow: inherit;
}

.css-1y19tqg {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.css-1k96qjc {
  margin: 0px;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.css-10n697b {
  margin: 0px;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(99, 115, 129);
}

.css-1k96qjc {
  margin: 0px;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.css-1kxe5pk {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.css-1gaiiou .MuiMenuItem-root {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  border-radius: 6px;
}

.css-70qvj9 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-w0pj6f {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: inherit;
}

.css-1gaiiou .MuiMenuItem-root {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  border-radius: 6px;
}

@media (min-width: 600px) {
  .css-1l61fsr {
      min-height: auto;
  }
}

.css-70qvj9 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-w0pj6f {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  border-radius: inherit;
}



.popover-container {
  opacity: 1;
  transform: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 52px;
  margin-right: 200px !important;
  width: 250px;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.popover-content {
  padding-bottom: 1rem;
}

.title, .role {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.email {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 0.5rem 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.menu-icon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  color: red;
  cursor: pointer;
}

.logout:hover {
  background-color: #fdd;
}


.popover-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.notification-list {
  max-height: 200px; 
  overflow-y: hidden;
  overflow-x: hidden;
  
}

.notification-list:hover {
  overflow-y: auto; 
}

.notification-list::-webkit-scrollbar {
  width: 8px; 
}

.notification-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; 
}

.notification-list::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.notification-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.custom-badge {
  position: absolute;
  right: 50px;
  background-color: #ff4081;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}


/*------------------partie chat-------------------*/
.meter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.progress-bar.white {
    background-color: white;
}

.progress-bar.default {
    background-color: rgb(220, 175, 169);
}
  
.maticon1{
    position: relative;
    left: 30px;
    color: rgb(48, 133, 202);
}
  
  
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 340px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;

}

.chat-app .chat {
    margin-left: 340px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.message {
    display: inline-block; 
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; 
    max-width: 100%; 
}


.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}
  

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #dde6e3
}
.no-recipient {

  color: black; ; 
  padding: 10px; 

}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.no-users p {
  font-size: 16px;
  color: #666; 
  margin: 0;
  padding: 10px;
}


.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}
.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    max-height: 580px;
    overflow-y: auto;
    transition: overflow-y 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none; 
}

.chat-history-expanded {
  max-height: 580px; 
  min-height: 280px;

}
.emoji-bottom {
  position: absolute;
  bottom: -7px;
  left: 6px;
  width: 100%;
  display: flex !important; 
  justify-content: flex-start !important; 
  gap: 8px; 
}

.css-3sojac1 {
  display: flex;
  flex-direction: column;  
  padding: 16px 1px; 
  gap: 12px; 
}

.css-i9gxme1 {
  display: flex; 
  flex-direction: column; 
  flex-grow: 1; 
  width: 100px;
  gap: 12px;
}

.emoji-item {
  display: flex;
  flex-direction: column; 
  position: relative;
}

@media (min-width: 600px) {
  .css-98b6tas2 {
    top: calc(100% - 4.7px);
    z-index: 1;
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    border-radius: 0px 0px 4px;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
    border-right: 1px solid rgba(145, 158, 171, 0.12);
    border-bottom: 1px solid rgba(145, 158, 171, 0.12);
  }

  .css-98b6tas2-left {
    left: 20px;
  }

  .css-98b6tas2-right {
    right: 20px;
  }
}


.css-1oknx5t2 {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.2) 0px 5px 5px -3px,
    rgba(145, 158, 171, 0.14) 0px 8px 10px 1px,
    rgba(145, 158, 171, 0.12) 0px 3px 14px 2px;
  max-width: 180px;
  margin-top: -127px;
  border-radius: 15px;
  padding: 16px;
  left: -10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
}

.css-1oknx5t2.rotate-180 {
  position: absolute;
  right: 0;
}


.reaction-count {
  position: absolute;
  top: -12px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #e21a2b; 
  font-weight: bold;
}

.emoji-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.emoji-circle a {
  font-size: 16px; 
  cursor: pointer;
  text-decoration: none; 
  color: #333; 
}


.chat .chat-history::-webkit-scrollbar {
    width: 8px; 
}

.chat .chat-history::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.chat .chat-history::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
}

.chat .chat-history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chat .chat-history {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}


.chat .chat-history ul {
    padding: 0;

}


.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}



.message-left {
  text-align: left;
}

.message-right {
  text-align: right;
}
.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.message-top-spacing {
  margin-top: 10px;
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}
.message-sender {
  font-weight: bold; 
  display: block;
  margin-bottom: 5px;

}

.top{
  position: relative;
  top: 100px;
}
.chat .chat-history .my-message {
  background: #efefef;
  text-align: right; 
  border-radius: 10px;
  padding: 10px;
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
}

.chat .chat-history .other-message:after {
  bottom: 100%;
  right: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}


.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix.active {
    background-color: #f0f8ff;
    border-left: 4px solid #007bff;
  }

  .clearfix.unread {
    background-color: #d0dde9; 
    border-bottom: 4px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



  .fa .fa-circle .online{
    position: relative;
    left: 80px;

  }

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}


.input-group-text.text1 {
  height: 39px;
  background-color: #1888ff;
  border-radius: 0; 
}

.input-group-text.search{
  height: 40px;
}

.send{
  color: white;
}

.recording {
  color: red;
}

.css-1oknx5t1 {
  top: -280px; 
  left: 375px;
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.2) 0px 5px 5px -3px,
              rgba(145, 158, 171, 0.14) 0px 8px 10px 1px,
              rgba(145, 158, 171, 0.12) 0px 3px 14px 2px;
  max-width: 360px;
  margin-top: 12px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px; 
  outline: 0px;
  padding: 0px;
  box-sizing: border-box; 
  position: absolute;
}

.emoji-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 225px;
  overflow-y: auto; 
  transition: max-height 0.3s ease;
  gap: 8px;
}


.emoji-container::-webkit-scrollbar {
  width: 8px;
}

.emoji-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px; 
}

.emoji-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.emoji-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.emoji-container:hover {
  overflow-y: auto;
}

.emoji {
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.2s;
  flex: 0 0 25%;
  text-align: center; 
  padding: 5px;
  box-sizing: border-box;
}

.emoji:hover {
  transform: scale(1.2); 
}


.dropdown-toggle {
  white-space: nowrap;
}

a {
  text-decoration: none !important;
}
.gif-emoji {
  width: 45px;  
  height: 45px;
  object-fit: contain;  
  display: inline-block;  
  vertical-align: middle;
}
.gif-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  background: none;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.button-group button:hover {
  color: #007bff;
  transform: scale(1.1);
}

.button-group button.active {
  color: #fff;
  background-color: #f02c1e;
  border-radius: 5px;
}

.gif-message {
  width: 100px;
  height: 100px;
}

@media (min-width: 600px) {
  .css-98b6tas {
    top: calc(100% - 4.7px); 
    z-index: 1;
    width: 12px;
    right: 20px;
    height: 12px;
    content: "";
    position: absolute;
    border-radius: 0px 0px 4px;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
    border-right: 1px solid rgba(145, 158, 171, 0.12);
    border-bottom: 1px solid rgba(145, 158, 171, 0.12);
  }
  audio {
    width:300px; 
    height: 50px; 
    background-color: #fff;
    border: none; 
    border-radius: 8px;
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

audio::-webkit-media-controls-panel {
    background-color: #fff;
    border-radius: 8px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-duration-display {
    background-color: transparent;
    border: none;
}

audio::-webkit-media-controls-play-button {
    color: #007bff;
}

audio::-webkit-media-controls-volume-slider {
    background-color: #e0e0e0;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-duration-display {
    color: #333; 
    font-size: 14px;
}

audio:hover::-webkit-media-controls-play-button,
audio:hover::-webkit-media-controls-volume-slider {
    color: #0056b3;
    transition: color 0.2s ease;
}


.col-lg-6.position-relative {
  position: relative;
}

.back-arrow {
  position: absolute;
  top: -30px; 
  left: -8px;    
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
  z-index: 10;  
  color: #000;  
}

.user-photo {
  display: block;
  width: 100px; 
  height: 100px;
  border-radius: 50%;
}


.form-control{
  height: 39px;
}


.file-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgb(204, 204, 204);
  margin: 1rem 0;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.file-container i {
  font-size: 24px; 
  margin-right: 10px;
  color: #007bff;
}

.file-link {
  text-decoration: none;
  color: #007bff; 
  font-weight: bold; 
}

.file-link:hover {
  text-decoration: underline; 
}
   .css-1ir47a1 {
    padding-top: 8px !important;
  }


}

@media (max-width: 599px) {
  .css-1ir47a1 {
    padding-top: 8px !important;
  }
}

.css-lt70pb {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: rgba(33, 150, 243, 0.24) 0px 8px 16px 0px;
  text-transform: none;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.css-pt151d {
  display: inherit;
  margin-right: -4px;
  margin-left: 8px;
}


.css-1dq7v2u {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: rgba(33, 150, 243, 0.24) 0px 8px 16px 0px;
  text-transform: none;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  text-decoration: none;
  padding: 6px 16px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.css-1cqkbll {
  width: 160px;
  height: 23px;
  margin: 0px;
  padding: 0px;
}

.button-spacing {
  margin-right: 16px;
}


.css-12ujxra {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-width: 0px;
  box-sizing: border-box;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 1px 0px 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent; 
  transition: background-color 0.3s ease; 
  border-bottom: 1.2px dashed rgba(94, 101, 107, 0.24);
}



.css-12ujxra:last-child {
  border-right: none;
}

.css-12ujxra:hover{
   background-color: #eceaea;
}

[data-simplebar] {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

@media (min-width: 600px) {
  .css-qw2e6q {
      height: auto;
  }
}


@media only screen and (max-width: 767px) {
  .chat-app {
    display: block !important;
    width: 100%;
  }

  .chat-history {
  display: block !important;
  min-height: 100px;
  overflow-y: auto;
}

  .chat-app .people-list {
    display: block;
    width: 100%;
  }

  .chat-app.chat-open .people-list {
    display: none;
  }

.chat-app .chat {
  display: none;
  width: 100%;
}
  .chat-app.chat-open .chat {
    display: block;
    width: 100%;
  }
   .chat-app .chat {
    margin-left: 0 !important;
  }

  .return-button {
  display: inline-block;
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}

.return-button:hover {
  background-color: #e2e6ea;
  border-color: #bbb;
  color: #000;
}

.return-button i {
  margin-right: 4px;
}
  .css-1oknx5t1 {
    top: auto !important;
    bottom: 60px; 
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    max-width: none !important;
    border-radius: 0 !important;
    z-index: 9999;
  }

   .message-icons i {
    display: inline-block !important;
    cursor: pointer;
  }


}



.css-qw2e6q {
  max-height: 100%;
}

.css-1uzmcsd {
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.justified-text {
  text-align: justify;  
  font-size: 0.8em;    
  line-height: 1.6;  
  margin: 0;          
  padding: 0;        
}

.justified-text p {
  margin-bottom: 0.5em; 
  word-spacing: -0.1em;  
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}
small, .small {
  font-size: .875em;
}

.message-icons i {
  color: #888;
  transition: color 0.3s;
}

.message-icons i:hover {
  color: #333; 
}



.icons-right {
  float: right;
  margin-left: 10px;
}

.message-icons {
  position: relative;
}

.dropdown-menu a {
  text-decoration: none; 
}

.dropdown-menu a:hover {
  text-decoration: none; 
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 4px #2125291f;
  animation-name: DropDownSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  width: 200px;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.emoji-container1 {
  display: flex;
  flex-direction: column; 
  position: absolute;
  top: 100%; 
  left: 20px;
  box-shadow: 0 2px 4px #2125291f;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}

.emoji-container1 a{
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
}


.emoji-container1 a:hover {
  transform: scale(1.1);
}

.selected-reaction {
  border-radius: 50%;  
  padding: 1px;  
  background-color: rgba(252, 189, 227, 0.5)
}

.emoji-container1.right {
  left: auto;
  right: 20px;
}
.fs-25 {
  font-size: 25px !important;
}

.gap-2 {
  gap: .5rem !important;
}

.px-2 {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.align-items-center {
  align-items: center !important;
}

.avatar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.bg-soft-primary {
  background-color: #e6f7ff;
}

.text-primary {
  color: #007bff;
}



@media (max-width: 600px) {
  .css-1oknx5t {
    position: fixed !important;
    top: 60px !important;
    right: 10px !important;
    margin-left: 0 !important;
    width: 90vw !important;
    max-width: 320px !important;
    max-height: 60vh !important;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 12px;
    z-index: 1300;
    transform-origin: top right !important;
  }

  .arrow.css-98b6ta {
    display: none;
  }

  .css-3sojac {
    padding: 8px 12px;
  }

  .css-k9tjo5 {
    font-size: 1.1rem;
  }

  .notification-list {
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 8px;
  }

  .dropdown-item {
    padding: 12px 10px;
    font-size: 0.9rem;
  }

  .dropdown-item.unread {
    background-color: #c8dafc;
    color: #000;
  }
  
}

/*--------------------partie audio bubble -----------------------------*/

.audio-bubble {
  display: inline-flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  max-width: 200px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.audio-bubble.sender {
  background-color: #007bff;
}

.audio-bubble.receiver {
  background-color: #eb1a3d; 
}
.audio-bubble.sender:hover {
  background-color: #0056b3;
}

.audio-bubble.receiver:hover {
  background-color: #db082b;
}

.play-icon, .pause-icon {
  width: 12px;
  height: 12px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-right: 8px;
}

.play-icon {
  border-left: 12px solid #fff;
}

.pause-icon {
  border-left: 6px solid #fff;
  border-right: 6px solid #fff;
}

.audio-wave {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.wave-bar {
  width: 3px;
  height: 8px;
  background-color: #fff;
  margin: 0 1px;
  animation: none;
}

@keyframes wave {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

.playing .wave-bar {
  animation: wave 1s infinite ease-in-out;
}

.wave-bar:nth-child(2) {
  animation-delay: 0.1s;
  height: 10px;
}

.wave-bar:nth-child(3) {
  animation-delay: 0.2s;
  height: 12px;
}

.audio-duration {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
}

.image-popup {
  position: fixed;
  top: 10%; 
  left: 10%;
  width: 85%;
  height: 100%;
  background-color: rgba(241, 238, 227, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  z-index: 1000;
}

.popup-content {
  position: relative;
  max-width: 60%; 
  max-height: 60%;
}

.full-image {
  width: 80%; 
  height: auto;
  border-radius: 8px;
}

.close-icon {
  position: absolute;
  top: 20px; 
  right: -20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 5px;
}

.unread-count {
  font-size: 14px;
  color: red;
  font-weight: bold;
  margin-left: 40px;
}

@media (max-width: 1100px) {

    .navbar, .css-1t1eosl {
      transition: height 0.3s ease;
    height: 56px !important;
    padding: 0 12px !important;
  }


  @media (max-width: 500px) {

  .back-arrow {
  position: absolute;
  top: -30px; 
  left: -8px;    
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
  z-index: 10;  
  color: #000;  
}

  }
}