  
  /*css header*/
  .navbar {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgb(255, 255, 255);
    z-index: 1201;
    backdrop-filter: blur(6px);
    background-color: rgba(249, 250, 251, 0.72);
height: 65px;
    @media (min-width: 1200px) {
        .css-1ir47a1 {
            min-height: 64px;
            padding: 16px 7px;
        }
    }
}

.logo {
    color: rgb(75, 75, 216);
   
}

.css-1ir47a1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.css-i9gxme {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 600px;
}

.mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgb(99, 115, 129);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 46px;
}


.css-2x4nai{
    color: black;
}
.no-underline {
    text-decoration: none;
    color: rgb(33, 150, 243);
  }

.circular-image {
    border-radius: 50%;
    overflow: hidden;
    width: 42px; 
    height: 42px; 
  }
  
  .circular-image img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
  }
  .dropdown-container {
    position: relative;
    display: inline-block;
    
  
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-wrap: break-word;
    max-height: 250px; 
    overflow-y: auto; 
    overflow-x: hidden; 

  }
  
  
  
  .dropdown-content .dropdown-item {
    padding: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .dropdown-content mat-icon {
    margin-right: 8px;
  }
  
  .dropdown-content .dropdown-item:hover {
    background-color: #ddd;
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }
  
  .mat{
    color: black;
    position: relative;
    right: 7px;
    top: 7px;
  }

.maticons{
    position: relative;
    color: rgb(48, 133, 202);
    left: 17px;
}
  .invite{
    color: black;
    font-size: 13px;
  }

  .dropdown-content .dropdown-item .invite {
    background-color: #ddd;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -7px; 
  }
  

.badge {
    position: absolute;
    top: -15.5px;
    right: 0;
    background-color: rgb(236, 16, 16);
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
  }
  
  .no-invite{
    color: black;

  }


  






.meter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.progress-bar.white {
    background-color: white;
}

.progress-bar.default {
    background-color: rgb(220, 175, 169);
}
  
.maticon1{
    position: relative;
    left: 30px;
    color: rgb(48, 133, 202);
}
  
  
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;

}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.message {
    display: inline-block; 
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all; 
    max-width: 100%; 
}


.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}
  

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #dde6e3
}
.no-recipient {

  color: black; ; 
  padding: 10px; 

}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.no-users p {
  font-size: 16px;
  color: #666; 
  margin: 0;
  padding: 10px;
}


.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}
.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    max-height: 580px;
    overflow-y: auto;
    transition: overflow-y 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none; 
}

.chat .chat-history::-webkit-scrollbar {
    width: 8px; 
}

.chat .chat-history::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.chat .chat-history::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
}

.chat .chat-history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chat .chat-history {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}


.chat .chat-history ul {
    padding: 0;

}


.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}
.message-sender {
  font-weight: bold; 
  display: block;
  margin-bottom: 5px;

}

.top{
  position: relative;
  top: 100px;
}
.chat .chat-history .my-message {
  background: #efefef;
  text-align: right; 
  border-radius: 10px;
  padding: 10px;
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: left;
  border-radius: 10px;
  padding: 10px;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
}


.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix.active {
    background-color: #f0f8ff;
    border-left: 4px solid #007bff;
  }

  .clearfix.unread {
    background-color: #d0dde9; 
    border-bottom: 4px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


  
@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}