<div class="header">

  <div class="navbar">
    <div class="css-1ir47a1">
      <a routerLink="/projects" class="no-underline">
        <h2 class="logo"><span style="color: rgb(33, 150, 243)">Canvas</span></h2>
      </a>    <div class="MuiBox-root css-i9gxme"></div>
      <div class="css-1x4nai">
        <mat-icon></mat-icon>
        <mat-icon class="maticon1">info</mat-icon>
     
  
  <div class="dropdown-container">
    <mat-icon class="maticons" (click)="togglePendingInvitesDropdown()">email</mat-icon>
  
    <div *ngIf="pendingInvitesCount > 0" class="badge">{{ pendingInvitesCount }}</div>
  
    <div class="dropdown-content" *ngIf="showPendingInvitesDropdown">
      <ng-container *ngIf="pendingInvites && pendingInvites.length > 0; else noInvites">
        <div *ngFor="let invite of pendingInvites" class="dropdown-item" (click)="openPopup1(invite.idInvite)">
          <p class="invite">Vous avez une Invitation dans <br><strong>{{ invite.canvas.nomCanvas}}</strong> de projet <strong>{{ invite.projet.nomProjet }}</strong></p>
        </div>
      </ng-container>
      <ng-template #noInvites>
        <div class="dropdown-item">
          <p class="no-invite">Aucune invitation en attente.</p>
        </div>
      </ng-template>
    
     
    </div>
  </div>
  
        <div class="dropdown-container">
          <mat-icon  (click)="toggleDropdown()">
            <img class="circular-image" [src]="userPhotoUrl1" alt="User Photo">
          </mat-icon>
        
          <div class="dropdown-content" *ngIf="showDropdown">
            <div (click)="logout()" class="dropdown-item">
              <mat-icon>logout</mat-icon> <p class="mat">Deconnexion</p>
            </div>
            <div routerLink="/profil"  class="dropdown-item">
              <mat-icon>settings</mat-icon> <p class="mat">Paramétre</p>
            </div>
          </div>
        </div>
        
        
        
            </div>
     
  
    </div>  
  
  </div>
      </div> 


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="top">
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchTerm" (input)="onSearchChange()">
            </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                  <li *ngIf="users.length === 0" class="no-users">
                    <p>Envoyer une invitation à un certain utilisateur pour discuter.</p>
                  </li>
                  <li class="clearfix" 
                  [ngClass]="{ 
                      'active': userselect === user.idUser, 
                      'unread': user.etat === false 
                  }" 
                  *ngFor="let user of users" 
                  (click)="selectUser(user)">
                    <img [src]="user.imageUser" alt="avatar">
                  
                <div class="about">
                  <div class="name">
                    <i *ngIf="user.enLigne" class="fa fa-circle online"></i>
                    <i *ngIf="!user.enLigne" class="fa fa-circle offline"></i>
                    {{ user.nomUser }}</div>
                  <div class="status" 
                       [ngStyle]="{ 'font-weight': user?.etat === false ? 'bold' : 'normal' }">
                    {{ user.lastMessage?.slice(0,10) }}
                  </div>
                </div>
              </li>
              
                  
                </ul>
            </div>
            <div class="chat"  >
              
              <div class="chat-header clearfix">
                <div class="row"  >
                        <div class="col-lg-6" >
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info" >
                                <img  *ngIf="userselect" [src]="userPhotoUrl" alt="avatar">
                            </a>
                            <div class="chat-about" *ngIf="userselect">
                              <div *ngIf="user">
                                <h6 class="m-b-0">{{ user.nomUser }} {{ user.prenomUser }}</h6>
                                <div *ngIf="user.enLigne" class="status"> <i class="fa fa-circle online"></i> en ligne </div>
                                <small *ngIf="!user.enLigne">{{ timeSince(user.lastLogout) }}</small>
                               
                              </div>                         
                               </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                        
                        </div>
                    </div>
                </div>
                <div class="chat-history" *ngIf="userselect">
                    <ul class="m-b-0">
                      <ul>
                       
                        <li class="clearfix" *ngFor="let msg of messages">
                         
                          <div [ngClass]="{
                                'message other-message float-right': msg.senderId != senderId,
                                'message my-message': msg.senderId == senderId
                              }">
                                   <span class="message-sender">
                                    {{ msg.senderId == senderId ? 'Vous' : msg.username }}
                                  </span>
                                  <span class="message" *ngIf="msg.message">{{ msg.message }}</span>
                                  <img *ngIf="msg.messageType === 'image'" [src]="msg.imageUrl" alt="Image message" style="width: 210px; height: 250px;" />
                                
                          </div>
                        </li>
                        
                      </ul>                              
                  
                    </ul>
                </div>
                <div class="chat-message clearfix" 
                [ngStyle]="{ 
                  'min-height': !userselect ? '400px' : 'auto', 
                  'background-color': !userselect ? '#e5ebe9' : 'transparent'
              }">       
                   <div *ngIf="!userselect" class="no-recipient">
                    <p>Aucun destinataire sélectionné.</p>
                </div>

                 <div class="input-group mb-0" *ngIf="userselect">
              
                        <div class="input-group-prepend">
                            <span (click)="send()" class="input-group-text"><i class="fa fa-send" ></i></span>
                          
                        </div>
                        <label class="btn btn-outline-primary"><i class="fa fa-image">  <input type="file" (change)="onFileSelected($event)" (input)="send()" style="display: none;" /></i>
                            
                        </label>

                        <input type="text" [(ngModel)]="message" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
</div>

</div>