  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .success-message {
    color: green; 
    font-weight: bold;
    text-align: center; 
  }
  
  .css-126xj0f {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
  .css-71frgt {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(75deg, rgba(22, 28, 36, 0.48) 0%, rgb(22, 28, 36) 100%);
    z-index: -1;
}


.css-ekeie0 {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
}

.css-2rhneq {
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    box-shadow: rgba(145, 158, 171, 0.2) 0px 11px 15px -7px, rgba(145, 158, 171, 0.14) 0px 24px 38px 3px, rgba(145, 158, 171, 0.12) 0px 9px 46px 8px;
    background-image: none;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 64px);
    max-width: 600px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 8px;
    margin: 32px;
}


@media (min-width: 600px) {
    .css-1p1g7yb {
        font-size: 1.125rem;
    }
}
.css-1p1g7yb {
    margin: 0px;
    font-weight: 700;
    line-height: 1.55556;
    font-size: 1.0625rem;
    font-family: "Public Sans", sans-serif;
    padding: 16px 24px;
    flex: 0 0 auto;
}


.MuiDialogTitle-root + .css-1ty026z {
    padding-top: 0px;
}
.css-1ty026z {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px 24px;
}


.css-ym80qc {
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(99, 115, 129);
}


.css-14b29qc {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex: 0 0 auto;
}
.css-14b29qc > :not(:first-of-type) {
    margin-left: 8px;
}
.css-16t8wzm {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-weight: 700;
    line-height: 1.71429;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-family: "Public Sans", sans-serif;
    min-width: 64px;
    color: rgb(33, 150, 243);
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    text-decoration: none;
    padding: 6px 8px;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}