
<div class="container">
  <div class="header">
    <!-- Contenu de l'en-tête -->
    <app-header [showFirstDiv]="showFirst" (showFirstDivChange)="onShowFirstChange($event)"></app-header>
    </div>
 
    <div class="canvas-list" *ngIf="canvas && canvas.Canvas && canvas.Canvas.length > 0">
      <h4 >Liste des canvas : <span class="shiny-blue">{{ project?.nomProjet }}</span></h4>
      <div class="canvas-items" >
        
        <div class="canvas-item" *ngIf="shouldDisplayBMC()">
          <div class="role" [ngClass]="{
              'gold-color': getCanvasRoleInvite('bmc', users.user.idUser) === 'Superviseur',
              'crimson-color': getCanvasRoleInvite('bmc', users.user.idUser) === 'moniteur',
              'porteur-color': getCanvasRoleInvite('bmc', users.user.idUser) === 'Porteur'
            }">
            <span *ngIf="getCanvasRoleInvite('bmc', users.user.idUser) === 'Superviseur'; else otherRole">
              Superviseur
            </span>
            <ng-template #otherRole>
              {{ getCanvasRoleInvite('bmc', users.user.idUser) }}
            </ng-template>
          </div>
          <button (click)="onCanvasClick('bmc')" routerLink="/bmc">
            <img src="assets/imgs/bmc.png" height="160" alt="BMC">
            <h3>{{ getCanvasName('bmc') }}</h3>
          </button>
        </div>
        
        <div class="canvas-item" *ngIf="shouldDisplayLean()">
          <div class="role" [ngClass]="{
              'gold-color': getCanvasRoleInvite('Lean Canvas', users.user.idUser) === 'Superviseur',
              'crimson-color': getCanvasRoleInvite('Lean Canvas', users.user.idUser) === 'moniteur',
              'porteur-color': getCanvasRoleInvite('Lean Canvas', users.user.idUser) === 'Porteur'
            }">
            <span *ngIf="getCanvasRoleInvite('Lean Canvas', users.user.idUser) === 'Superviseur'; else otherRole">
              Superviseur
            </span>
            <ng-template #otherRole>
              {{ getCanvasRoleInvite('Lean Canvas', users.user.idUser) }}
            </ng-template>
          </div>
          <button (click)="onCanvasClick('Lean Canvas')" routerLink="/lean">
            <img src="assets/imgs/lean.png" height="160" alt="Lean">
            <h3>{{ getCanvasName('Lean Canvas') }}</h3>
          </button>
        </div>
    
        <div class="canvas-item" *ngIf="shouldDisplayVP()">
          <div class="role" [ngClass]="{
              'gold-color': getCanvasRoleInvite('VP Canvas', users.user.idUser) === 'Superviseur',
              'crimson-color': getCanvasRoleInvite('VP Canvas', users.user.idUser) === 'moniteur',
              'porteur-color': getCanvasRoleInvite('VP Canvas', users.user.idUser) === 'Porteur'
            }">
            <span *ngIf="getCanvasRoleInvite('VP Canvas', users.user.idUser) === 'Superviseur'; else otherRole">
              Superviseur
            </span>
            <ng-template #otherRole>
              {{ getCanvasRoleInvite('VP Canvas', users.user.idUser) }}
            </ng-template>
          </div>
          <button (click)="onCanvasClick('VP Canvas')" routerLink="/vp">
            <img src="assets/imgs/vp.png" height="160" alt="VP">
            <h3>{{ getCanvasName('VP Canvas') }}</h3>
          </button>
        </div>
    
        <div class="canvas-item" *ngIf="shouldDisplaySWOT()">
          <div class="role" [ngClass]="{
              'gold-color': getCanvasRoleInvite('SWOT', users.user.idUser) === 'Superviseur',
              'crimson-color': getCanvasRoleInvite('SWOT', users.user.idUser) === 'moniteur',
              'porteur-color': getCanvasRoleInvite('SWOT', users.user.idUser) === 'Porteur'
            }">
            <span *ngIf="getCanvasRoleInvite('SWOT', users.user.idUser) === 'Superviseur'; else otherRole">
              Superviseur
            </span>
            <ng-template #otherRole>
              {{ getCanvasRoleInvite('SWOT', users.user.idUser) }}
            </ng-template>
          </div>
          <button (click)="onCanvasClick('swot')" [routerLink]="'/swot'">
            <img src="assets/imgs/swot.png" height="160" alt="SWOT">
            <h3>{{ getCanvasName('swot') }}</h3>
          </button>
        </div>
    
        <div class="canvas-item" *ngIf="shouldDisplayEmpathie()">
          <div class="role" [ngClass]="{
              'gold-color': getCanvasRoleInvite('empathy map canvas', users.user.idUser) === 'Superviseur',
              'crimson-color': getCanvasRoleInvite('empathy map canvas', users.user.idUser) === 'moniteur',
              'porteur-color': getCanvasRoleInvite('empathy map canvas', users.user.idUser) === 'Porteur'
            }">
            <span *ngIf="getCanvasRoleInvite('empathy map canvas', users.user.idUser) === 'Superviseur'; else otherRole">
              Superviseur
            </span>
            <ng-template #otherRole>
              {{ getCanvasRoleInvite('empathy map canvas', users.user.idUser) }}
            </ng-template>
          </div>
          <button (click)="onCanvasClick('empathy map canvas')" [routerLink]="'/empathie'">
            <img src="assets/imgs/empathie.png" height="160" alt="Empathie">
            <h3>{{ getCanvasName('empathy map canvas') }}</h3>
          </button>
        </div>
    
        <div class="canvas-item" *ngIf="shouldDisplayPersona()">
          <div class="role" [ngClass]="{
              'gold-color': getCanvasRoleInvite('persona canvas', users.user.idUser) === 'Superviseur',
              'crimson-color': getCanvasRoleInvite('persona canvas', users.user.idUser) === 'moniteur',
              'porteur-color': getCanvasRoleInvite('persona canvas', users.user.idUser) === 'Porteur'
            }">
            <span *ngIf="getCanvasRoleInvite('persona canvas', users.user.idUser) === 'Superviseur'; else otherRole">
              Superviseur
            </span>
            <ng-template #otherRole>
              {{ getCanvasRoleInvite('persona canvas', users.user.idUser) }}
            </ng-template>
          </div>
          <button (click)="onCanvasClick('persona canvas')" [routerLink]="'/persona'">
            <img src="assets/imgs/persona.png" height="160" alt="Persona">
            <h3>{{ getCanvasName('persona canvas') }}</h3>
          </button>
        </div>
    
      </div>
    </div>
      <div *ngIf="showNoCanvasMessage" class="no-canvas-message">
        Aucun canvas trouvé.
      </div>
</div>
