.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .canvas-list {
    margin-top: 9%; // Augmentez le padding-top
  }
  
  .canvas-list h4 {
    margin: 0;
    font-size: 18px;
  }

  .canvas-list .canvas-items {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    justify-content: space-around; 
  }
  
  .canvas-list .canvas-items .canvas-item:hover{
    background-color: rgb(246, 246, 247);
  }
  .canvas-list .canvas-items .canvas-item {
    margin: 20px 0; 
    text-align: center;
    width: 360px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 3px 1px -2px, rgba(145, 158, 171, 0.14) 0px 2px 2px 0px, rgba(145, 158, 171, 0.12) 0px 1px 5px 0px;
    border-radius: 16px;
    position: relative;
    z-index: 0;
    height: 100%;
  }
  
  .canvas-list .canvas-items .canvas-item button {
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      div {
        background-color: gray; 
      }
    }
  }
  
  .canvas-list .canvas-items .canvas-item button img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    object-fit: contain;
    padding: 16px;
  }
  
  .canvas-list .canvas-items .canvas-item button h3 {
    margin-top: 10px;
    font-size: 16px;
  }

  
  .role{
    background-color: rgb(33, 150, 243);
    color:white;
    width:30%;
    left: 10px;
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    font-weight: 500;
    border-radius: 20px;
    
}
  
.crimson-color {
  background-color: crimson;
}
.no-canvas-message {
  position: absolute;
  color: #721c24; 
  background-color: #f8d7da;
  padding: 15px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px; 
  top: 250px;

}

.gold-color {
  background-color: rgba(230, 203, 53, 0.897);
}
.porteur-color {
  color: #ffffff; 
  background-color: #FFA500;
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.6), 
              0 0 30px rgba(255, 165, 0, 0.4); 
  transition: transform 0.3s ease;
}

.porteur-color:hover {
  transform: scale(1.05);
}
.shiny-blue {
  font-weight: bold;
  color: rgb(32, 127, 216);
}



/*-------------------*/


@media (max-width: 800px) {
 .canvas-list {
    margin-top: 15% !important;
  }

}


@media (max-width: 400px) {
 .canvas-list {
    margin-top: 25% !important;
  }

}

@media (max-width: 520px) {
  .canvas-list h4 {
    padding-left: 40px !important;
  }
}

@media (max-width: 480px) {
  .canvas-list h4 {
    padding-left: 60px !important;
  }
}

@media (max-width: 400px) {
  .canvas-list h4 {
    padding-left: 70px !important;
  }
}

@media (max-width: 360px) {
  .canvas-list h4 {
    padding-left: 90px !important;
  }
}


@media (max-width: 300px) {
  .canvas-list h4 {
    padding-left: 100px !important;
  }
}

@media (max-width: 1100px) {

    .navbar, .css-1t1eosl {
      transition: height 0.3s ease;
    height: 56px !important;
    padding: 0 12px !important;
  }
}