<app-header [showFirstDiv]="showFirst" (showFirstDivChange)="onShowFirstChange($event)"></app-header>

<div class="container">

    <div class="content">
        <div class="content-one" >
            <h3 class="css-w29fpn"> Bienvenue a nouveau </h3>
        
           <img src="assets/imgs/login.png" alt="" class="flex-grow-1">
        </div>
        <div class="col md-6 mt-3 mt-md-0" id="form">
            <h3 class="intro2">Connectez-vous a CANVAS.</h3>
            <h6> Entrez vos coordonnées ci-dessous.</h6>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <form [formGroup]="formUser" (ngSubmit)="onLogin()">
        <div class="inputs">
          <input type="email" formControlName="emailUser" placeholder="Saisir votre email">
          <input type="password" formControlName="passwordUser" placeholder="Saisir votre mot de passe">
        </div>
        <div class="password-forgot">
          <a routerLink="/reinitialiser-mot-de-passe"> <h6>Vous avez oublié votre mot de passe ?</h6></a>
          <button type="submit" class="signup-btn">Se connecter</button>
        </div>
      </form>
      
      
        </div>
    </div>
  </div>
  
