<div class="container">
  <div class="content">
    <div class="wrapper">
    <div class="banner">
      <div class="image-content">
        <a routerLink="/login" class="no-underline">
          <h2><span style="color: rgb(33, 150, 243)">Canvas</span></h2>
        </a>        <h3 class="css-w29fpn">Bienvenue à nouveau</h3>
        <img src="assets/imgs/login.png" alt="" class="flex-grow-1">
      </div>
    </div>
      <div class="form-content">
        <h2 class="css-8r6ded text-right">
          Vous n'avez pas de compte ? 
          <a routerLink='/register' class="css-1r5vhv8">Commencer maintenant</a>
        </h2>        

        <h4 class="MuiTypography-root MuiTypography-h4 MuiTypography-gutterBottom css-1bhrkuh">Connectez-vous à 
          <span class="MuiTypography-root MuiTypography-h4 css-vt5zdj">Canvas</span></h4>   
          <p class="MuiTypography-root MuiTypography-body1 css-19e4da">Entrez vos coordonnées ci-dessous.</p>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        
        <form [formGroup]="formUser" (ngSubmit)="onLogin()">
          <div class="inputs">
            <input type="email" formControlName="emailUser" placeholder="Saisir votre email">
            <div class="input-container">
              <input
                #passwordInput
                type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="passwordUser"
                placeholder="Saisir votre mot de passe">
              <mat-icon class="password-toggle-icon" (click)="toggleShowPassword()">
                {{ showPassword ? 'visibility' : 'visibility_off' }}
              </mat-icon>
            </div>
            
          
            
                      </div>
          <div class="password-forgot">
            <div class="password-forgot-content">
              <a routerLink="/reinitialiser-mot-de-passe" class="MuiTypography-root MuiTypography-subtitle2 MuiLink-root MuiLink-underlineHover css-oq680g" href="/reinitialiser-mot-de-passe">Vous avez oublié votre mot de passe ? </a>
              <button type="submit" class="signup-btn">Se connecter</button>
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
</div>
