<div class="bloc">
  <div class="element-bmc">

    <!--Partie header-->
    <div class="header">

      <div class="navbar">
        <div class="css-1ir47a1">
          <a routerLink="/projects" class="no-underline">
            <h2 class="logo"><span style="color: rgb(33, 150, 243)">Canvas</span></h2>
          </a>    <div class="MuiBox-root css-i9gxme"></div>
          <div class="css-1x4nai">
            <mat-icon class="maticon1">menu</mat-icon>
            <mat-icon class="maticon1">info</mat-icon>
            <mat-form-field class="custom-select">
              <mat-label>Projet actuel</mat-label>
              <mat-select [(ngModel)]="currentProject">
                <mat-option>Mes projet</mat-option>
                <mat-option *ngFor="let project of projects" [value]="project" (click)="navigateToBmc(project)">
                  {{ project.nomProjet }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
      
      <div class="dropdown-container">
        <mat-icon class="maticons" (click)="togglePendingInvitesDropdown()">email</mat-icon>
      
        <div *ngIf="pendingInvitesCount > 0" class="badge">{{ pendingInvitesCount }}</div>
      
        <div class="dropdown-content" *ngIf="showPendingInvitesDropdown">
          <ng-container *ngIf="pendingInvites && pendingInvites.length > 0; else noInvites">
            <div *ngFor="let invite of pendingInvites" class="dropdown-item" (click)="openPopup1(invite.idInvite)">
              <p class="invite">Vous avez une Invitation dans <br><strong>{{ invite.canvas.nomCanvas}}</strong> de projet <strong>{{ invite.projet.nomProjet }}</strong></p>
            </div>
          </ng-container>
          <ng-template #noInvites>
            <div class="dropdown-item">
              <p class="no-invite">Aucune invitation en attente.</p>
            </div>
          </ng-template>
        
         
        </div>
      </div>
      
            <div class="dropdown-container">
              <mat-icon  (click)="toggleDropdown()">
                <img class="circular-image" [src]="userPhotoUrl" alt="User Photo">
              </mat-icon>
            
              <div class="dropdown-content" *ngIf="showDropdown">
                <div (click)="logout()" class="dropdown-item">
                  <mat-icon>logout</mat-icon> <p class="mat">Deconnexion</p>
                </div>
                <div routerLink="/profil"  class="dropdown-item">
                  <mat-icon>settings</mat-icon> <p class="mat">Paramétre</p>
                </div>
              </div>
            </div>
            
            
            
                </div>
         
      
        </div>  
      
      </div>
          </div>


<!-----------partie comment -------------------------------->

<div class="chat-container"   *ngIf="showComments">
  <div class="messages">
    <div class="message">
      <div class="message-header">
        <div style="display: flex; align-items: center;">
          <img src="https://funderapi.cynoia.com//media/avatar.png" class="avatar" alt="User Avatar">
          <div class="username">You</div>
        </div>
        <div class="timestamp">Le 09/10/2024 à 09:02</div>
      </div>
      <audio src="https://funderapi.cynoia.com//media/audio.mp3" controls class="audio"></audio>
    </div>
    <div class="message">
      <div class="message-header">
        <div style="display: flex; align-items: center;">
          <img src="https://funderapi.cynoia.com//media/avatar.png" class="avatar" alt="User Avatar">
          <div class="username">You</div>
        </div>
        <div class="timestamp">Le 09/10/2024 à 09:00</div>
      </div>
      <p>mmm</p>
    </div>
    <div class="message">
      <div class="message-header">
        <div style="display: flex; align-items: center;">
          <img src="https://funderapi.cynoia.com//media/avatar.png" class="avatar" alt="User Avatar">
          <div class="username">You</div>
        </div>
        <div class="timestamp">Le 09/10/2024 à 09:00</div>
      </div>
      <p>aaa</p>
    </div>
  </div>
  <form class="input-container">
    <button type="button">
      <span class="material-icons">attach_file</span>
    </button>
    <input type="text" placeholder="Type a message...">
    <button type="submit">
      <span class="material-icons">send</span>
    </button>
  </form>
</div>


   <!----------------Partie canvas------------------->

  <div class="items-bmc"  class="items-bmc" [ngClass]="{'narrow': showComments}" >
    <div class="item-bmc" *ngIf="blocks  && blocks?.length > 0">
      <div *ngIf="shouldDisplayMesg()"><p class="css-tq1709">Enregistré <mat-icon>done</mat-icon></p></div>   
        <div>

          <div class="icon-container" [ngClass]="{'shift-left': showComments , 'narrow': currentBlockIndex === 9}">
            <span class="tooltip" *ngIf="!showComments">voir les commentaires</span> 
            <i (click)="toggleComments()" class="material-icons" >comment</i>
          </div>
          
          
          <mat-stepper *ngIf="userRole?.roleInvite === 'editor'" #stepper class="demo-stepper"  (selectionChange)="onStepChange($event)" >
          <mat-step >            
            <p class="css-vgwlcw">Etape 1: Segments</p>
            <div class="css-igeghr">{{blocks[0].description}}</div>
          </mat-step>
          <mat-step>            
            <p class="css-vgwlcw">Etape 2: Proposition de valeur.</p>
            <div class="MuiBox-root css-igeghr">{{blocks[1].description}}</div>
          </mat-step>
          <mat-step>            
            <p class="css-vgwlcw">Etape 3: Canaux de distribution </p>
            <div class="MuiBox-root css-igeghr">{{blocks[2].description}}</div>
          </mat-step>
          <mat-step>            
            <p class="css-vgwlcw">Etape 4: Relation client </p>
            <div class="MuiBox-root css-igeghr">
              {{blocks[3].description}}
           </div>
          </mat-step>
           <mat-step>            
            <p class="css-vgwlcw">Etape 5: Structure de revenus </p>
            <div class="MuiBox-root css-igeghr">{{blocks[4].description}}
            </div>
          </mat-step>
           <mat-step>            
            <p class="css-vgwlcw">Etape 6: Activités clés </p>
            <div class="MuiBox-root css-igeghr">
               {{blocks[5].description}}
            </div>
          </mat-step>
          <mat-step>            
            <p class="css-vgwlcw">Etape 7: Ressources clés </p>
            <div class="MuiBox-root css-igeghr">              
              {{blocks[6].description}}
            </div>
          </mat-step>
          <mat-step>            
            <p class="css-vgwlcw">Etape 8: Partenaires clés </p>
            <div class="MuiBox-root css-igeghr">
              {{blocks[7].description}}

            </div>
          </mat-step>
          <mat-step >            
            <p *ngIf="!showTable && userRole?.roleInvite === 'editor'" class="css-vgwlcw">Etape 9: Structure de coûts </p>
            <div *ngIf="!showTable && userRole?.roleInvite === 'editor'" class="MuiBox-root css-igeghr">
              {{blocks[8].description}}

            </div>
          </mat-step>
          <mat-step >            
            <p  class="css-vgwlcw">Etape 10 </p>
            <div  class="MuiBox-root css-igeghr">
             Sommaire

            </div>
          </mat-step>
        </mat-stepper>
      </div>
       <div class="css-1tfsht7" > 
          <div  class="css-9bzmof" *ngIf="!showTable && userRole?.roleInvite === 'editor'">
            <div class="container" style="margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; max-height: 350px; overflow-y: auto;">
              <div class="notes-list" style="width: 112%; display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <form [formGroup]="donneesForm" *ngIf="showAddButton && donnees?.length < 6">
                  <div class="MuiBox-root css-4xg6x2" title="Ajouter un post-it" (click)="creatColor()">
                    <mat-icon>add</mat-icon>
                  </div>
                </form>
                
                <div [style.backgroundColor]="donnees?.coleur " class="note MuiBox-root css-1sdqa4j" (click)="toggleDeleteButton(donnees)" *ngFor="let donnees of donnees">
                  <div >
                    <div *ngIf="showDeleteButton && isSelectedDonnee(donnees)" class="note-action MuiBox-root css-cpm1aj">
                      <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1m32rbj" tabindex="0" type="button">
                        <svg  style=" position: absolute;top: 0; left: 0;" (click)="toggleFormVisibility(donnees.idDonnees)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                          class="MuiBox-root css-3o0h5k iconify iconify--akar-icons" sx="[object Object]" width="1em" height="1em"
                          preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                          <g fill="none" stroke="currentColor" stroke-width="2">
                            <circle cx="4" cy="12" r="1"></circle>
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="20" cy="12" r="1"></circle>
                          </g>
                        </svg>
                        
                        <form (click)="toggleFormVisibility(donnees.idDonnees)"*ngIf="isFormVisibleForItemId(donnees.idDonnees)" class="color-form">

                        <ng-container  *ngFor="let group of groupColors(generatedColors)">
                          <div  class="color-group">
                            <div class="circle" *ngFor="let color of group" [style.background-color]="color"  (click)="updateColor(donnees.idDonnees, color)"></div>
                          </div>
                        </ng-container>
                        <svg (click)="openPopup(donnees.idDonnees)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg> 
                        <span class="MuiTouchRipple-root css-w0pj6f"></span>
                      </form>

                      </button>
                    </div>
                    <form [formGroup]="donneesForms" >
                      <textarea
                      (keydown.enter)="onEnterKey($event)"
                      (input)="updateTicketValue($event)"
                      (keyup.enter)="updatedonne(donnees.idDonnees)"
                      (blur)="updatedonne(donnees.idDonnees)"

                      maxlength="150"
                      style="color: inherit; background: transparent; border: none; outline: none; height: 100%; width: 100%; resize: none; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; word-break: break-word;"
                    >{{ donnees.ticket}}</textarea>
                    
                    </form>
                    
                  </div>
                  
                </div>
                
                
                
              
              </div>
          
            </div>
              
                     </div>

          <div class="wrapper" *ngIf="!showTable && userRole?.roleInvite === 'editor'">

            <div class="canvas"  [ngClass]="{ 'narrow': showComments }">
              <div (click)="detectedBlockById(blocks[7].idBlock)" id="canvas-key-partners" class="segment" [ngClass]="{ 'selected': isSelected(blocks[7].idBlock) }" (click)="toggleSelection(blocks[7].idBlock)">
              <div class="segment-header-key-partners"><span>{{blocks[7].nomBlock}}</span></div>
              <div *ngFor="let donnee of blocks[7]?.donnees?.slice(0, 3)" style="padding: 5px 10px; display: flex; flex-direction: column;">
                <div [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs">
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
              <div *ngIf="blocks[7]?.donnees?.length > 3">
                <p>+{{ blocks[7]?.donnees?.length - 3 }} </p>
              </div>
              </div>
              <div (click)="detectedBlockById(blocks[5].idBlock)" id="canvas-key-activities" class="segment" [ngClass]="{'selected': isSelected(blocks[5].idBlock)}" (click)="toggleSelection(blocks[5].idBlock)">
                <div class="segment-header-key-activities"><span>{{blocks[5].nomBlock}} </span> <mat-icon>check</mat-icon>
                </div>
                <div *ngFor="let donnee of blocks[5]?.donnees?.slice(0, 1)" style="padding: 5px 10px; display: flex; flex-direction: column;">
                  <div [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs">
                    <p>{{donnee.ticket}}</p>
                  </div>
                </div>
                <div *ngIf="blocks[5]?.donnees?.length > 1">
                  <p>+{{ blocks[5]?.donnees?.length - 1 }} </p>
                </div>
              </div>              
              <div (click)="detectedBlockById(blocks[6].idBlock)" id="canvas-key-resources" class="segment" [ngClass]="{'selected': isSelected(blocks[6].idBlock)}" (click)="toggleSelection(blocks[6].idBlock)">
                <div class="segment-header-key-resource"><span>{{blocks[6].nomBlock}}</span><mat-icon> business</mat-icon>
              </div>
              <div *ngFor="let donnee of blocks[6]?.donnees?.slice(0, 1)" style="padding: 5px 10px; display: flex; flex-direction: column;">
                <div [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs">
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
              <div *ngIf="blocks[6]?.donnees?.length > 1">
                <p>+{{ blocks[6]?.donnees?.length - 1 }} </p>
              </div>
            </div>
              <div (click)="detectedBlockById(blocks[1].idBlock)" id="canvas-value-proposition" class="segment" [ngClass]="{'selected': isSelected(blocks[1].idBlock)}" (click)="toggleSelection(blocks[1].idBlock)"><div class="segment-header-value-proposition"> <span>{{blocks[1].nomBlock}}</span><mat-icon>redeem</mat-icon>

              </div>
              <div *ngFor="let donnee of blocks[1]?.donnees?.slice(0, 3)" style="padding: 5px 10px; display: flex; flex-direction: column;">
                <div [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs">
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
              <div *ngIf="blocks[1]?.donnees?.length > 3">
                <p>+{{ blocks[1]?.donnees?.length - 3 }} </p>
              </div>
            </div>
              <div (click)="detectedBlockById(blocks[3].idBlock)" id="canvas-customer-relationships" class="segment" [ngClass]="{'selected': isSelected(blocks[3].idBlock)}" (click)="toggleSelection(blocks[3].idBlock)">
                <div class="segment-header-customer-relationships"><span>{{blocks[3].nomBlock}}</span><mat-icon>favorite</mat-icon>
                </div>
                <div *ngFor="let donnee of blocks[3]?.donnees?.slice(0, 1)" style="padding: 5px 10px; display: flex; flex-direction: column;">
                  <div [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs">
                    <p>{{donnee.ticket}}</p>
                  </div>
                </div>
                <div *ngIf="blocks[3]?.donnees?.length > 1">
                  <p>+{{ blocks[3]?.donnees?.length - 1}} </p>
                </div>              
              </div>
              <div  (click)="detectedBlockById(blocks[2].idBlock)" id="canvas-channels" class="segment" [ngClass]="{'selected': isSelected(blocks[2].idBlock)}" (click)="toggleSelection(blocks[2].idBlock)"><div class="segment-header-channels"><span>{{blocks[2].nomBlock}}</span>
                <mat-icon> directions_bus</mat-icon>
              </div>
              <div *ngFor="let donnee of blocks[2]?.donnees?.slice(0, 1)" style="padding: 5px 10px; display: flex; flex-direction: column;">
                <div [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs">
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
              <div *ngIf="blocks[2]?.donnees?.length > 1">
                <p>+{{ blocks[2]?.donnees?.length - 1 }} </p>
              </div>             </div>
              <div (click)="detectedBlockById(blocks[0].idBlock)" id="canvas-customer-segments" class="segment" [ngClass]="{'selected': isSelected(blocks[0].idBlock)}" (click)="toggleSelection(blocks[0].idBlock)" ><div class="segment-header-relationship"><span>{{blocks[0].nomBlock}}</span>	<mat-icon>group</mat-icon></div>
              <div *ngFor="let donnee of blocks[0]?.donnees?.slice(0, 3)" style="padding: 5px 10px; display: flex; flex-direction: column;"><div  [style.backgroundColor]="donnee?.coleur" class="MuiBox-root css-kqsxjs"><p >{{donnee.ticket}}</p></div></div>
              <div *ngIf="blocks[0]?.donnees?.length > 3">
                <p>+{{ blocks[0]?.donnees?.length - 3 }} </p>
              </div>
            </div>
              <div  (click)="detectedBlockById(blocks[8].idBlock)" id="canvas-cost-structure" class="segment" [ngClass]="{'selected': isSelected(blocks[8].idBlock)}" (click)="toggleSelection(blocks[8].idBlock)"><div class="segment-header-structure"><span>{{blocks[8].nomBlock}}</span><mat-icon> local_offer</mat-icon>
              
              </div>

              <div style="padding: 5px 10px; display: flex;">
                <div *ngFor="let donnee of blocks[8]?.donnees?.slice(0, 3); let i = index" 
                     [style.backgroundColor]="donnee?.coleur" 
                     class="kqsxjs1" 
                     [style.width]="calculateWidth(blocks[8]?.donnees?.length)"
                     [style.marginRight]="i < 2 ? '5px' : '0'">
                  <p>{{donnee.ticket}}</p>
                </div>
              
                <div *ngIf="blocks[8]?.donnees?.length > 3" class="additional-section">
                  <p>+{{ blocks[8]?.donnees?.length - 3 }} </p>
                </div>
              </div>
              
            </div>
              <div  (click)="detectedBlockById(blocks[4].idBlock)" id="canvas-revenue-streams" class="segment" [ngClass]="{'selected': isSelected(blocks[4].idBlock)}" (click)="toggleSelection(blocks[4].idBlock)"><div class="segment-header-streams"><span>{{blocks[4].nomBlock}}</span> <mat-icon>attach_money 
              </mat-icon></div>
              <div style="padding: 5px 10px; display: flex;">
                <div *ngFor="let donnee of blocks[4]?.donnees?.slice(0, 3); let i = index" 
                     [style.backgroundColor]="donnee?.coleur" 
                     class="kqsxjs1" 
                     [style.width]="calculateWidth(blocks[4]?.donnees?.length)"
                     [style.marginRight]="i < 2 ? '5px' : '0'">
                  <p>{{donnee.ticket}}</p>
                </div>
              
                <div *ngIf="blocks[4]?.donnees?.length > 3" class="additional-section">
                  <p>+{{ blocks[4]?.donnees?.length - 3 }} </p>
                </div>
              </div>
            </div>
            </div>   
          </div>
       

          <div  class="wrapper" *ngIf="showTable && userRole?.roleInvite === 'editor' || userRole?.roleInvite === 'moniteur' " >
            <div class="button-container">
              <button class="download-button" mat-raised-button color="primary" (click)="telechargerPDF()">Télécharger en PDF</button>
              <button *ngIf="showTable && userRole?.roleInvite === 'editor'" class="download-button" mat-raised-button color="primary" (click)="openPopupInvite()">Envoyer Invitation</button>
            </div>
            
            <br>
            <div class="canvas1" [ngClass]="{'narrow': showComments}"  id="table">
              <div (click)="detectedBlockById(blocks[7].idBlock)" id="canvas-key-partners" class="segment"  [ngClass]="{ 'selected': isSelected(blocks[7].idBlock) }"(click)="toggleSelection(blocks[7].idBlock)" >
              <div class="segment-header-key-partners"><span>{{blocks[7].nomBlock}}</span></div>
              <div class="conteneur">
                <div *ngFor="let donnee of blocks[7]?.donnees; let i = index" class="kqsxjs1"
                [style.backgroundColor]="donnee?.coleur" 
                     [style.width]="calculateWidth4(blocks[7]?.donnees?.length, i)"
                     [style.marginRight]="i < 7 ? '3px' : '0'"
                     style="margin-bottom: 20px;"
                     >
                     
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
              </div>
              <div (click)="detectedBlockById(blocks[5].idBlock)" id="canvas-key-activities" class="segment" [ngClass]="{'selected': isSelected(blocks[5].idBlock)}" (click)="toggleSelection(blocks[5].idBlock)">
                <div class="segment-header-key-activities"><span>{{blocks[5].nomBlock}} </span> <mat-icon>check</mat-icon>
                </div>
                <div class="conteneur">
                  <div *ngFor="let donnee of blocks[5]?.donnees; let i = index" class="kqsxjs1"
                  [style.backgroundColor]="donnee?.coleur" 
                       [style.width]="calculateWidth3(blocks[5]?.donnees?.length, i)"
                       [style.marginRight]="i < 7 ? '2px' : '0'">
                       
                    <p>{{donnee.ticket}}</p>
                  </div>
                </div>
                
              </div>              
              <div (click)="detectedBlockById(blocks[6].idBlock)" id="canvas-key-resources" class="segment" [ngClass]="{'selected': isSelected(blocks[6].idBlock)}" (click)="toggleSelection(blocks[6].idBlock)">
                <div class="segment-header-key-resource"><span>{{blocks[6].nomBlock}}</span><mat-icon> business</mat-icon>
              </div>
              <div class="conteneur">
                <div *ngFor="let donnee of blocks[6]?.donnees; let i = index" class="kqsxjs1"
                [style.backgroundColor]="donnee?.coleur" 
                     [style.width]="calculateWidth3(blocks[6]?.donnees?.length, i)"
                     [style.marginRight]="i < 7 ? '2px' : '0'">
                     
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
  
            </div>
              <div (click)="detectedBlockById(blocks[1].idBlock)" id="canvas-value-proposition" class="segment" [ngClass]="{'selected': isSelected(blocks[1].idBlock)}" (click)="toggleSelection(blocks[1].idBlock)"><div class="segment-header-value-proposition"> <span>{{blocks[1].nomBlock}}</span><mat-icon>redeem</mat-icon>
        
              </div>
              <div class="conteneur">
                <div *ngFor="let donnee of blocks[1]?.donnees; let i = index" class="kqsxjs1"
                [style.backgroundColor]="donnee?.coleur" 
                     [style.width]="calculateWidth4(blocks[1]?.donnees?.length, i)"
                     [style.marginRight]="i < 7 ? '3px' : '0'"
                     style="margin-bottom: 20px;"
                     >
                     
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
            
            </div>
              <div (click)="detectedBlockById(blocks[3].idBlock)" id="canvas-customer-relationships" class="segment" [ngClass]="{'selected': isSelected(blocks[3].idBlock)}" (click)="toggleSelection(blocks[3].idBlock)">
                <div class="segment-header-customer-relationships"><span>{{blocks[3].nomBlock}}</span><mat-icon>favorite</mat-icon>
                </div>
                <div class="conteneur">
                  <div *ngFor="let donnee of blocks[3]?.donnees; let i = index" class="kqsxjs1"
                  [style.backgroundColor]="donnee?.coleur" 
                       [style.width]="calculateWidth3(blocks[3]?.donnees?.length, i)"
                       [style.marginRight]="i < 7 ? '2px' : '0'">
                       
                    <p>{{donnee.ticket}}</p>
                  </div>
                </div>
                
                            
              </div>
              <div  (click)="detectedBlockById(blocks[2].idBlock)" id="canvas-channels" class="segment" [ngClass]="{'selected': isSelected(blocks[2].idBlock)}" (click)="toggleSelection(blocks[2].idBlock)"><div class="segment-header-channels"><span>{{blocks[2].nomBlock}}</span>
                <mat-icon> directions_bus</mat-icon>
              </div>
              <div class="conteneur">
                <div *ngFor="let donnee of blocks[2]?.donnees; let i = index" class="kqsxjs1"
                [style.backgroundColor]="donnee?.coleur" 
                     [style.width]="calculateWidth3(blocks[2]?.donnees?.length, i)"
                     [style.marginRight]="i < 7 ? '2px' : '0'">
                     
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
                           </div>
              <div (click)="detectedBlockById(blocks[0].idBlock)" id="canvas-customer-segments" class="segment" [ngClass]="{ 'selected': isSelected(blocks[0].idBlock)&& userRole?.roleInvite !== 'moniteur'}"(click)="toggleSelection(blocks[0].idBlock)"  ><div class="segment-header-relationship"><span>{{blocks[0].nomBlock}}</span>	<mat-icon>group</mat-icon></div>
              <div class="conteneur">
                <div *ngFor="let donnee of blocks[0]?.donnees; let i = index" class="kqsxjs1"
                     [style.backgroundColor]="donnee?.coleur" 
                     [style.width]="calculateWidth4(blocks[0]?.donnees?.length, i)"
                     [style.marginRight]="i < 7 ? '3px' : '0'"
                     style="margin-bottom: 20px;">
                  <p>{{donnee.ticket}}</p>
                </div>
              </div>
              
              
              
            </div>
              <div (click)="detectedBlockById(blocks[8].idBlock)" [ngClass]="{ 'selected': isSelected(blocks[8].idBlock) }"(click)="toggleSelection(blocks[8].idBlock)" id="canvas-cost-structure" class="segment"  ><div class="segment-header-structure"><span>{{blocks[8].nomBlock}}</span><mat-icon> local_offer</mat-icon>
              </div>
              <div style="padding: 5px 10px; display: flex;">
                <div *ngFor="let donnee of blocks[8]?.donnees; let i = index" 
                     [style.backgroundColor]="donnee?.coleur" 
                     class="kqsxjs1" 
                     [style.width]="calculateWidth2(blocks[8]?.donnees?.length)"
                     [style.marginRight]="i < 7 ? '5px' : '0'">
                  <p>{{donnee.ticket}}</p>
                </div>
            
              </div>
            </div>
              <div (click)="detectedBlockById(blocks[4].idBlock)" id="canvas-revenue-streams" class="segment" [ngClass]="{'selected': isSelected(blocks[4].idBlock)}" (click)="toggleSelection(blocks[4].idBlock)"><div class="segment-header-streams"><span>{{blocks[4].nomBlock}}</span> <mat-icon>attach_money 
              </mat-icon></div>
              <div style="padding: 5px 10px; display: flex;">
                <div *ngFor="let donnee of blocks[4]?.donnees; let i = index" 
                     [style.backgroundColor]="donnee?.coleur" 
                     class="kqsxjs1" 
                     [style.width]="calculateWidth2(blocks[4]?.donnees?.length)"
                     [style.marginRight]="i < 6 ? '5px' : '0'">
                  <p>{{donnee.ticket}}</p>
                </div>
            
              </div>
            </div>
            </div>   
          </div>

    </div> 

    <div class="css-1xto6kq" >
      <button class="css-5357ut" *ngIf="shouldDisplayButton()"
      tabindex="0" 
      type="button" 
      (click)="precedent()" 
      [disabled]="userRole?.roleInvite === 'moniteur' || currentBlockIndex === 0">
  Précédent
  <span class="css-w0pj6f"></span>
  </button>
          <div class="css-11qjisw" >
          </div> 
          <button *ngIf="shouldDisplayButton()"class="css-ivnzlx"  tabindex="0" type="button" (click)="suivant()">
            {{ currentBlockIndex === 5 ? 'Terminer' : 'Suivant' }}
            <span class="css-w0pj6f"></span>
  
          </button>
       
  </div>
   
  </div>
 
</div>
</div>

<button *ngIf="showTable || userRole?.roleInvite === 'moniteur'" class="css-5357ut"  style="position: relative;top: 150px;"(click)="precedent()" >Précédent</button>

<div class="centered-message" *ngIf="userRole?.roleInvite === null">
  <p>tu n'as pas le droit dans cette canvas. Attendre une invitation ou contacter le superviseur de projet.</p>
</div>