.item-bmc{
    border: 1px solid rgb(236, 236, 236);
     border-radius: 10px;
      padding: 1rem; 
      height: 98%;
      margin: 0 auto;
      transition: width 0.3s ease;
    }

    .items-bmc.narrow .item-bmc {
      width: calc(100% - 30%); 
      margin-left: 0; 
      margin-right: 0;
    }
    
    .item-save{
        display: flex;
    margin-bottom: 8px;
    padding-left: 32px;
    padding-right: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    }
    .css-tq1709 {
        margin: 0px;
        color: green;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 4px;
    }
    .container{
      
      display: flex;
    min-height: 100%;
    overflow: hidden;
    }
    .element-bmc {
      -webkit-box-flex: 1;
      flex-grow: 1;
      overflow: hidden; 
      padding-top: 64px;
  }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }div {
        display: block;
    }
  
      .demo-stepper {
        margin-top: 8px;
      }
      
      .demo-form-field {
        margin-top: 16px;
      }
      
      .demo-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      
      .demo-radio-button {
        margin: 5px;
      }
      .css-igeghr {
        background-color: rgb(236, 236, 236);
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 8px;
        margin-left: 24px;
        margin-right: 24px;
        font-size: 0.8em;
    }
    .css-vgwlcw {
        margin: 8px 0px;
        line-height: 1.5;
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 0.8em;
    }
    body {
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
    }
    
    .wrapper {
      flex-basis: 58.3333%;
      -webkit-box-flex: 0;
      flex-grow: 0;
    }
    
    
    

    
    img {
      vertical-align: middle;
      height: auto;
      width: 100%;
    }
    .css-1tfsht7 {
      box-sizing: border-box;
      display: flex;
      flex-flow: wrap;
      width: calc(100% + 8px);
      margin-left: -8px;
      margin-top: 0px;
  }
  @media (min-width: 900px)
  {.css-9bzmof {
    flex-basis: 41.6667%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 41.6667%;
}}
.css-4xg6x2 {
  border: 1px dashed rgb(204, 204, 204);
  height: 150px;
  margin: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 0.2s ease-in-out 0s;
}
.css-fhbt6x {
  width: 160px;
  height: 36px;
}
.key-part{
  flex-basis: 20%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 20%;
}
.css-1j2nzj9 {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}
@media (min-width: 1200px)

{.css-1j2nzj9 {
    flex-basis: 20%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 20%;
}}
.css-1j2nzj9 {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}
@media (min-width: 1200px)
{.css-1j2nzj9 {
    flex-basis: 20%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 20%;
}}

@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  margin: 0;
}

.canvas {
  position: absolute;
  width:55%;
  height: 65%;
  
  overflow: hidden;
  transition: width 0.3s ease; 

}

.canvas.narrow {
  width: 40%; /* Ajustez cette valeur selon vos besoins */
}


.canvas1 {
  position: absolute;
  width: 96%; 
  height: 60%;
  overflow: hidden;
  transition: width 0.3s ease; 
}

.canvas1.narrow {
  width: 67%; 
}

#canvas-key-problem {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: calc(75% / 2);
}
#canvas-key-existing {
  position: absolute;
  top: calc(75% / 2);
  width: 20%;
  height: calc(75% / 2);
}
#canvas-key-activities {
  position: absolute;
  top: 0;
  left: 20%;
  width: 20%;
  height: calc(75% / 2);
}

#canvas-key-resources {
  position: absolute;
  top: calc(75% / 2);
  left: 20%;
  
  width: 20%;
  height: calc(75% / 2);
}



#canvas-customer-relationships {
  position: absolute;
  top: 0;
  left: 40%;
  
  width: 20%;
  height: calc(75% / 2);
}
#canvas-customer-adv {
  position: absolute;
  top: 0;
  left: 60%;
  width: 20%;
  height: calc(75% / 2);
}
#canvas-channels {
  position: absolute;
  top: calc(75% / 2);
  left: 60%;
  
  width: 20%;
  height: calc(75% / 2);
}
#canvas-concept{
  position: absolute;
  top: calc(75% / 2);
  left: 40%;
  
  width: 20%;
  height: calc(75% / 2);
}
#canvas-customer-segments {
  position: absolute;
  top: 0;
  left: 80%;
  
  width: 20%;
  height: calc(75% / 2);
}
#canvas-customer-early {
  position: absolute;
  top: calc(75% / 2);
  left: 80%;
  width: 20%;
  height: calc(75% / 2);
}

#canvas-revenue-streams {
  position: absolute;
  top: 75%;
  left: 50%;
  
  width: 50%;
  height: 25%;
}

#canvas-cost-structure {
  position: absolute;
  top: 75%;
  left: 0;
  
  width: 50%;
  height: 25%;
}

.segment {
  border: solid 1px black;
}
.selected {
  border: 2px solid blue;
  box-shadow: rgba(3, 102, 214, 0.7) 0px 0px 3px 3px;

  overflow: hidden auto;
  cursor: pointer
}


.segment-header-key{
  padding: 5px; 
  font-size: 10px; font-weight: bold; 
  fill: rgb(0, 0, 0); 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
 
}





.segment-details {
  display: inline-block;
  background-color: blue;
  margin: 5px;
  padding: 5px;
}

.hidden {
  display: none;
}

#input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: black;
}
.css-1xto6kq {
  display: flex;
  flex-direction: row;
  padding-top: 210px;
}
.css-5357ut {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.8125rem;
  text-transform: capitalize;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  padding: 3px 9px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  border: 1px solid rgba(145, 158, 171, 0.32);
  border-radius: 0px;
}
.css-11qjisw {
  flex: 1 1 auto;
}
.css-ivnzlx {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  font-size: 0.8125rem;
  text-transform: capitalize;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  padding: 3px 9px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(33, 150, 243, 0.5);
  color: rgb(33, 150, 243);
  border-radius: 0px;
}


.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  border: 2px solid white;
}

.color-option-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  }

  .color-form {
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    border-radius: 8px;
    background-image: none;
    overflow: hidden auto;
    min-width: 90px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0px;

  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .kqsxjs1 {
    background: rgb(0, 150, 136);
    color: rgb(255, 255, 255);
    word-break: break-word;
    font-size: 10px;
    height: 4.6em;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0px 0px 0.5em;
    position: relative;
    top: -4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 2px, rgba(0, 0, 0, 0.23) 0px 3px 2px;
    min-width: 0;
  }

  
.css-1sdqa4j {
  background: rgb(0, 150, 136);
  color: rgb(255, 255, 255);
  padding: 16px;
  margin: 8px;
  font-size: 0.8em;
  height: 150px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 2px, rgba(0, 0, 0, 0.23) 0px 3px 2px;
}


.css-cpm1aj {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0%;
  height: 0%;
  border-width: 25px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.5) transparent transparent;
}


.css-1m32rbj:hover {
  background-color: transparent;
}
.css-1m32rbj:hover {
  background-color: rgba(99, 115, 129, 0.08);
}
.css-1m32rbj {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.3rem;
  padding: 13px;
  border-radius: 50%;
  overflow: visible;
  color: rgb(99, 115, 129);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  top: -25px;
  right: -25px;
}



.css-kqsxjs {
  background: rgb(0, 150, 136);
  color: rgb(255, 255, 255);
  padding: 8px;
  word-break: break-word;
  font-size: 10px;
  height: 5.1em;
  width: 100%;
  overflow: hidden; /* Pour supprimer les barres de défilement verticales et horizontales */
  margin: 0px 0px 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 2px, rgba(0, 0, 0, 0.23) 0px 3px 2px;
}


.button-container {
  text-align: right; 
 position: relative;
 left: 310px;
}

.download-button {
  margin-left: 10px;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #1565C0;
}

.MuiBox-root.css-kqsxjs3 {
  background: rgb(0, 150, 136);
  color: rgb(255, 255, 255);
  padding: 8px;
  word-break: break-word;
  font-size: 10px;
  height: 4em;
  flex: 0 0 calc(33.3333% - 10px); 
  box-sizing: border-box;
  overflow: hidden auto;
  margin: 0px 0px 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 2px, rgba(0, 0, 0, 0.23) 0px 3px 2px;
}



.conteneur {
  display: flex;
  flex-wrap: wrap;
}




  /*css header*/
  .navbar {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px, rgba(145, 158, 171, 0.14) 0px 4px 5px 0px, rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgb(255, 255, 255);
    z-index: 1201;
    backdrop-filter: blur(6px);
    background-color: rgba(249, 250, 251, 0.72);
height: 65px;
    @media (min-width: 1200px) {
        .css-1ir47a1 {
            min-height: 64px;
            padding: 16px 7px;
        }
    }
}

.logo {
    color: rgb(75, 75, 216);
    margin-right: auto; /* Alignement à gauche */
}

.css-1ir47a1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.css-i9gxme {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 600px;
}

.mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgb(99, 115, 129);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 46px;
}


.css-2x4nai{
    color: black;
}
.no-underline {
    text-decoration: none;
    color: rgb(33, 150, 243);
  }

  .circular-image {
    border-radius: 50%;
    overflow: hidden;
    width: 42px; 
    height: 42px; 
  }
  
  .circular-image img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
  }
  .dropdown-container {
    position: relative;
    right: 15px;
    display: inline-block;
    margin: 0 12px; 
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 250px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-wrap: break-word;
    max-height: 250px; 
    overflow-y: auto; 
    overflow-x: hidden; 

  }
  
  
  
  .dropdown-content .dropdown-item {
    padding: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-top: 20px;

  }
  
  .dropdown-content mat-icon {
    margin-right: 8px;
  }
  
  .dropdown-content .dropdown-item:hover {
    background-color: #ddd;
  }
  
  .dropdown-container:hover .dropdown-content {
    display: block;
  }
  
  .mat{
    color: black;
    position: relative;
    right: 7px;
  
  }

.maticons{
    position: relative;
    color: rgb(48, 133, 202);
    left: 17px;
}
  .invite{
    color: black;
    font-size: 13px;
  }

  .dropdown-content .dropdown-item .invite {
    background-color: #ddd;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: -7px; 
  }
  

  .badge {
    position: absolute;
    top: -15.5px;
    right: 0;
    background-color: rgb(236, 16, 16);
    color: white;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
  }
  
  .no-invite{
    color: black;

  }

  .centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .centered-message p {
    font-size: 25px;
    color: rgb(189, 39, 39);
  }


  .maticon1{
    color: rgb(48, 133, 202);
}
  




/*----------partie comment ----------------*/



body {
  font-family: Arial, sans-serif;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 88vh;
  overflow: hidden;
  width: 400px;
  border: 1px solid #ececec;
  border-radius: 8px;
  position: fixed;
  right: 0;
  top: 60px; 
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.icon-container {
  position: absolute; 
  right: 80px; 
  top: 87px; 
  color: blue;
   cursor: pointer;
  transition: right 0.3s ease; 
}

.icon-container.shift-left {
  right: 480px;
  
}

.icon-container.narrow {
  position: absolute;
  top: 70px;
  
}

.tooltip {
  display: none;
  margin-right: 2px; 
  background-color: white; 
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px; 
  color: black;
  padding: 4px 8px;
  position: absolute; 
  top: 0;
  right: 30px;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.icon-container:hover .tooltip {
  display: block; 
  opacity: 1; 
}




.messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
.message {
  border: 1px solid #ececec;
  border-left: 5px solid #3f51b5;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.username {
  font-weight: bold;
}
.timestamp {
  color: #5a5a5a;
  font-size: 0.875rem;
}
.audio {
  max-width: 100%;
  margin-top: 1rem;
}
.input-container {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  border-top: 1px solid #ececec;
}
.input-container input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.input-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 0.5rem;
}